<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./css/about.css">
        <link rel="icon" href="./images/g_logo_favicon.ico">
        <link
            href="https://fonts.googleapis.com/css?family=McLaren&display=swap"
            rel="stylesheet"
        />
        <title>gimme a break | About</title>
    </head>
    <body class="container">
        <nav class="navbar">
            <div class="logo">
                <a href="./home">
                    <img src="./images/g_logo.png" />
                </a>
            </div>
            <ul class="navlist">
                <li><a href="./home">home</a></li>
                <li><a href="./timer">timer</a></li>
                <li><a class="active" href="./about">about us</a></li>
            </ul>
            <div class="dropdown">
                <button class="drpbtn">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
                <div class="dropdown-content">
                    <h2>TOPICS</h2>
                    <fieldset class="checkbox-switch">
                        <legend class="legend-left">yoga</legend>
                        <input type="checkbox" id="checkbox-1"> 
                        <label for="checkbox-1" title="Toggle yoga" class="checkbox-right"></label>
                    </fieldset>
                    <fieldset class="checkbox-switch">
                        <legend class="legend-left">entertainment</legend>
                        <input type="checkbox" id="checkbox-2"> 
                        <label for="checkbox-2" title="Toggle entertainment" class="checkbox-right"></label>
                    </fieldset>
                    <fieldset class="checkbox-switch">
                        <legend class="legend-left">education</legend>
                        <input type="checkbox" id="checkbox-3"> 
                        <label for="checkbox-3" title="Toggle education" class="checkbox-right"></label>
                    </fieldset>
                    <fieldset class="checkbox-switch">
                        <legend class="legend-left">fitness</legend>
                        <input type="checkbox" id="checkbox-4"> 
                        <label for="checkbox-4" title="Toggle fitness" class="checkbox-right"></label>
                    </fieldset>
                    <option value="" disabled="disabled">─────────────────────────</option>
                    <h2>MEDIUMS</h2>
                    <fieldset class="checkbox-switch">
                        <legend class="legend-left">article</legend>
                        <input type="checkbox" id="checkbox-5"> 
                        <label for="checkbox-5" title="Toggle article" class="checkbox-right"></label>
                    </fieldset>
                    <fieldset class="checkbox-switch">
                        <legend class="legend-left">video</legend>
                        <input type="checkbox" id="checkbox-6"> 
                        <label for="checkbox-6" title="Toggle fitness" class="checkbox-right"></label>
                    </fieldset>
                    <fieldset class="checkbox-switch">
                        <legend class="legend-left">music</legend>
                        <input type="checkbox" id="checkbox-7"> 
                        <label for="checkbox-7" title="Toggle fitness" class="checkbox-right"></label>
                    </fieldset>
                    <button type="submit" id="save">save</button>
                </div>
            </div>
        </nav>

        <article>
            <div class="features">
                <h1><em>About the Team and the Project</em></h1>
                <img class="team_pic" src="./images/team_pic.jpg" alt="Team picture"/>
                <p class="description">
                    "gimme a break" is a website created by four freshmen, Shravan Hariharan, Shungo Najima, Max Cohen, 
                    and Elias Fang at HackSC 2020, University of Southern California’s annual hackathon event. Of the 
                    four verticals presented, the students decided that they wanted to tackle an issue that was both 
                    practical and beneficial to themselves, as well as other students facing the same problem. The 
                    result was an app that promotes personal well-being through productivity and rest from the hours 
                    and hours of school work.
                    We hope that through this web app, students around the world can experience decreased stress levels and a greater sense of productivity and methods of self-improvement.
                </p>
            </div>
        </article>

        <article class="contributors">
            <h2><em>Contributors</em></h2>
            <div>
                <div class="column">
                    <h3>Shravan Hariharan</h3>
                    <img class="pics" src="./images/shravan_is_boomer.jpg" alt="avatar of Shravan" />
                    <p class="grad-and-major">B.S. in Computer Science, '23</p>
                </div>
                <div class="column">
                    <h3>Shungo Najima</h3>
                    <img class="pics" src="./images/shungo_is_boomer.jpg" alt="avatar of Shungo" />
                    <p class="grad-and-major">B.S. in Math-CS, '23</p>
                </div>
                <div class="column">
                    <h3>Max Cohen</h3>
                    <img class="pics" src="./images/max_is_boomer.jpg" alt="avatar of Max" />
                    <p class="grad-and-major">B.S. in Computer Science, '23</p>
                </div>
                <div class="column">
                    <h3>Elias Fang</h3>
                    <img class="pics" src="./images/elias_is_boomer.jpg" alt="avatar of Elias" />
                    <p class="grad-and-major">B.S. in Computer Engineering, '23</p>
                </div>
            </div>
        </article>
    </body>
</html>
