<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./css/index.css" />
        <link
            href="https://fonts.googleapis.com/css?family=McLaren&display=swap"
            rel="stylesheet"
        />
        <title>gimme a break | Home</title>
    </head>
    <body>
        <div class="logo">
            <a href="index.html">
                <img src="./images/logo_header.png" />
            </a>
        </div>
        <nav class="navbar">
            <ul class="navlist">
                <li><a class="active" href="./home">home</a></li>
                <li><a href="./timer">timer</a></li>
                <li><a href="./about">about us</a></li>
            </ul>
            <div class="dropdown">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="dropdown-content">
                    <a>Pref1</a>
                    <a>Pref2</a>
                    <a>Pref3</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <!-- <img id="logo-header" src="./images/logo_header.png" /> -->
            <div class="title">
                <span class="parenth">{ </span>
                <span class="title">gimme a break </span>
                <span class="parenth"> }</span>
            </div>

            <div class="desc">Productive breaks for productive work</div>
            <div class="min-header">Start by select break activities</div>
            <div class="pref">
                <button class="button">Yoga</button>
                <button class="button">Entertainment</button>
                <button class="button">Education</button>
                <button class="button">Fitness</button>
                <form action="/timer">
                    <button class="button about">
                        <span>
                            Next
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
