<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/css/index.css" />
        <link
            href="https://fonts.googleapis.com/css?family=McLaren&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <title>gimme a break | Home</title>
        <style>
            .container {
                text-align: center;
                margin-top: 5rem;
                background-color: #eeeeee;
                font-family: "McLaren", cursive;
            }
            .desc {
                margin-top: 1rem;
                font-size: 24px;
            }
            .min-header {
                font-size: 20px;
                margin-top: 3rem;
            }
            .pref {
                margin-left: 0rem;
                margin-top: 3rem;
            }
            button {
                display: block;
                margin: 1rem auto;
                width: 20rem;
                border: 4px solid;
                background-color: none;
                padding: 1rem;
            }

            #logo-header {
                
                width: 50%;
                height: 50%;
            }
        </style>
    </head>
    <body class="container">
        <img id="logo-header" src="../static/images/logo_header.png" />
        <div class="desc">Productive breaks for productive work</div>
        <div class="min-header">Select Break Activities</div>
        <div class="pref">
            <button class="preference">Yoga</button>
            <button class="preference">Entertainment</button>
            <button class="preference">Sports</button>
            <button class="preference">Education</button>
            <button class="preference">Meditate</button>
        </div>
    </body>
</html>
