<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/css/index.css" />
        <title>gimme a break</title>
        <style>
            .container {
                text-align: center;
                font-size: 60px;
                margin-top: 10rem;
                background-color: #eeeeee;
                font-family: "McLaren", cursive;
            }
            #logo-header {
                width: 35%;
                height: 35%;
            }
        </style>
    </head>
    <body class="container">
        <img id="logo-header" src="../static/images/logo_header.png" />
        <div class="preference">
            <button>Productivity 1</button>
        </div>
    </body>
</html>
