<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/timer.css">
        <link rel="icon" href="../static/images/hourglass.ico">
        <title>gimme a break</title>
        <!--copy/paste to .css-->
        <style>
            .container {
                background-color: #eeeeee;
                font-family: "McLaren", cursive
            }

            #motto {
                float: right;
                padding: 20px 50px
            }

            .navbar {
                background-color: #d0d0d0;
                overflow: hidden;
            }

            .navbar a {
                float: left;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
            }

            .navbar a:hover {
                background-color: #b0b0b0;
            }

            .navbar a.active {
                background-color: #0097ff;
                color: white;
            }
        </style>
    </head>
<body class="container">
    <header>
        <div class="logo">
            <a href="index.html">
                <img id="logo_pic" src="../static/images/logo_header.png">
            </a>
            <h2 id="motto">Productive breaks for productive work</h2>
        </div>
    </header>
    <div class="navbar">
        <a href="index.html">home</a>
        <a class="active" href="timer.html">timer</a>
        <a href="about.html">about us</a>
    </div>
</body>
</html>